* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: white;
}
main {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.button {
    padding: 30px;
}
.button1 {
    height: 40px;
    width: 200px;
    font-size: 20px;
    background-color: aqua;
    border-radius: 20px;
    border: 1px solid black;
    transition: all 0.2s;
}
.button1:hover {
    cursor: pointer;
    transform: scale(1.1);
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color {
    font-size: 50px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 300px;
}
.button2 {
    height: 40px;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    background-color: aqua;
    border-radius: 20px;
    border: 1px solid black;
    transition: all 0.2s;
}
.button2:hover {
    cursor: pointer;
    transform: scale(1.5);
}